.grid {
    display: grid;
    height: 720px;
    width: 100%;
    grid-template-rows: 80px 1fr 20px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: "header header header" "main main sidebar" "main main sidebar" "footer footer footer";
}

@media (max-width: 767px) {
    .grid {
        grid-template-areas: "header header header" "main main main" "sidebar sidebar sidebar" "footer footer footer";
    }
}

.header {
    grid-area: header;
    background-color: rgba(180, 97, 115, 0.5);
    text-align: center;
}

.main {
    grid-area: main;
    background-color: rgb(180, 97, 115);
    color: white;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    text-align: center;
}

.sidebar a {
    display: block;
    text-decoration: none;
    line-height: 130px;
    font-size: 20px;
}

.sidebar a:hover {
    background-color: rgba(180, 97, 115, 0.5);
    color: white;
}

.footer {
    grid-area: footer;
}

.social {
    text-align: center;
    padding-bottom: 25px;
}

.footer .social a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.topnav {
    overflow: hidden;
    height: 100%;
}

.topnav a {
    line-height: 53px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(180, 97, 115, 0.3);
    color: black;
}

.topnav a.active {
    background-color: rgb(180, 97, 115);
    color: white;
}

.topnav .icon {
    display: none;
}